In [12]:
import pandas as pd
import random

In [122]:
def add_interactivity(df, interactivity_):
    new_df = []

    for _, row_ in df.iterrows():
        if not isinstance(row_['question'], str) or not isinstance(row_['vega_zero'], str):
            continue

        new_df.append(row_)

        row = row_.copy()
        row['vega_zero'] = row['vega_zero'] + ' interactive'

        interactivity = interactivity_.copy()

        while True:
            inters = random.choice(interactivity)
            interactivity.remove(inters)
            inter = random.choice(inters)
            inter_questions, inter_vega_zero = inter

            row['question'] = row['question'] + inter_questions
            row['vega_zero'] = row['vega_zero'] + inter_vega_zero

            if random.random() > 0.5 or len(interactivity) == 0:
                break

        new_df.append(row)
        
    return pd.DataFrame(new_df)

In [130]:
dev = pd.read_csv('dataset/dev.csv')
test = pd.read_csv('dataset/test.csv')
train = pd.read_csv('dataset/train.csv')

In [128]:
interactivity = [
    [(' Display value on hover .', ' tooltip y_ aggregate_'), 
     (' Show value hint .', ' tooltip y_ aggregate_')],
     
    [(' Highlight selected fields .', ' legend highlight'), 
     (' Decrease opacity of unselected fields .', ' legend highlight'),
    
     (' Filter selected fields .', ' legend filter_'), 
     (' Only display selected field in legend .', ' legend filter_')],
    
    [(' Enable zoom .', ' scales'),
     (' Panoramic graphic .', ' scales')]
]

In [129]:
new_dev = add_interactivity(dev, interactivity)
new_dev.to_csv('dataset/dev.csv')

new_test = add_interactivity(test, interactivity)
new_test.to_csv('dataset/test.csv')

new_train = add_interactivity(train, interactivity)
new_train.to_csv('dataset/train.csv')

In [149]:
new_dev['question'].iloc[21]

'Return a bar chart about the distribution of Team_Name and All_Games_Percent , and order y-axis from low to high order . Enable zoom . Highlight selected fields .'

In [150]:
new_dev['vega_zero'].iloc[21]

'mark bar data basketball_match encoding x team_name y aggregate none all_games_percent transform sort y asc interactive scales legend highlight'

In [151]:
new_dev

,tvBench_id,db_id,chart,hardness,query,question,vega_zero
0,791@y_name@DESC,cre_Doc_Tracking_DB,Bar,Medium,"Visualize BAR SELECT Location_Code , count(*) ...",Display a bar chart for what is the code of ea...,mark bar data document_locations encoding x lo...
0,791@y_name@DESC,cre_Doc_Tracking_DB,Bar,Medium,"Visualize BAR SELECT Location_Code , count(*) ...",Display a bar chart for what is the code of ea...,mark bar data document_locations encoding x lo...
1,1497,gas_company,Pie,Easy,"Visualize PIE SELECT Headquarters , count(*) F...",List all headquarters and the number of compan...,mark arc data company encoding x headquarters ...
1,1497,gas_company,Pie,Easy,"Visualize PIE SELECT Headquarters , count(*) F...",List all headquarters and the number of compan...,mark arc data company encoding x headquarters ...
2,791@x_name@ASC,cre_Doc_Tracking_DB,Bar,Medium,"Visualize BAR SELECT Location_Code , count(*) ...",what is the code of each location and the numb...,mark bar data document_locations encoding x lo...
...,...,...,...,...,...,...,...
714,2911,swimming,Bar,Easy,"Visualize BAR SELECT meter_200 , AVG(ID) FROM ...",Return a bar chart about the distribution of m...,mark bar data swimmer encoding x meter_200 y a...
715,218,behavior_monitoring,Bar,Medium,"Visualize BAR SELECT other_details , SUM(month...",Return a bar chart about the distribution of o...,mark bar data student_addresses encoding x oth...
715,218,behavior_monitoring,Bar,Medium,"Visualize BAR SELECT other_details , SUM(month...",Return a bar chart about the distribution of o...,mark bar data student_addresses encoding x oth...
716,1761@y_name@ASC,hr_1,Bar,Hard,"Visualize BAR SELECT HIRE_DATE , AVG(MANAGER_I...",For those employees who was hired before 2002-...,mark bar data employees encoding x hire_date y...
716,1761@y_name@ASC,hr_1,Bar,Hard,"Visualize BAR SELECT HIRE_DATE , AVG(MANAGER_I...",For those employees who was hired before 2002-...,mark bar data employees encoding x hire_date y...